.side {
    width: 200px;
    height: 50px;
    padding: 5px;
    font-size: 30px;
}

.result, .content {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin-top: 120px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}


/*.comma {*/
    /*width: 50px;*/
    /*height: 36px;*/
/*}*/